[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
scipy = "*"
scikit-image = "*"
keras = "*"
imgaug = "*"
opencv-python = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.6"
