[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
scipy = "*"
scikit-image = "*"
keras = "*"
imgaug = "*"
opencv-python = "*"
cython = "*"
pycocotools = {editable = true, subdirectory = "PythonAPI", git = "https://github.com/dmechea/cocoapi.git"}
mrcnn = {editable = true, git = "https://github.com/dmechea/Mask_RCNN.git"}

[dev-packages]

[requires]
python_version = "3.6"
